<div class="login-modal">
  <%= erb :_login_form %>
</div>
<div class="login-modal2">
  <%= erb :_login_form_two %>
</div>
<div id="container">
  <button id="start_game">Start</button>
  <button id="reset_game">Reset</button>
  <%= erb :_login %>
  <table class="racer_table">
    <tr id="player1_strip" data-player-one="<%= @player1.name %>">
      <td>Player1</td>
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip" data-player-two="<%= @player2.name %>">
      <td>Player2</td>
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
